.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: var(--deep-blue) 2px solid;
    padding: 0.75rem 0rem;
    margin-bottom: 1rem;
    background: white;

    /* Have the header stay at the top */
    position: fixed;
    top: 0;
    left: 0;
}

.navLink {
    display: inline;
    margin: 0 10px;
    font-size: 85%;
    color: rgba(0, 0, 0, 0.697);
    font-weight: 400;
    cursor: pointer;
    transition: color 0.3s;
}

.navLink:last-child {
    margin-right: 1rem;
}

.navLink:hover,
.logoContainer:hover {
    color: rgba(0, 0, 0);
}

.navItemsContainer, 
.logoContainer {
    height: 30px;
    margin: auto 0.25rem;
}

.logoContainer {
    margin-left: 2rem;
    color: var(--deep-blue);
    font-family: 'Nunito';
    font-size: 150%;
    line-height: 120%;
    cursor: pointer;
    transition: color 0.3s;
}

.navItemsContainer {
    display: flex;
    align-items: center;
}

.logoImage {
    height: 100%;
}

.navButton {
    color: rgba(0, 0, 0, 0.697);
    background-color: var(--off-white-button);
    border: 1px solid var(--off-white-button);
    border-radius: 4px;
    cursor: pointer;
    font-size: 85%;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
    transition: box-shadow 0.3s, border-color 0.3s, color 0.3s;
    margin-right: 2rem;
}
    
.navButton:hover {
    border-color: var(--off-white-button__hover);
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: rgba(0, 0, 0);
}
