.contentContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.leftNavContainer,
.rightNavContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0.2rem 2.5rem;
    color: rgba(0, 0, 0, 0.504);
    transition: margin-bottom 0.3s, color 0.3s, border-color 0.3s;
}

.leftNavContainer {
    position: fixed;
    bottom: 0;
    left: 0;
}

.rightNavContainer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.sidebarNavEmail {
    color: rgba(0, 0, 0, 0.504);
    font-size: 85%;
    writing-mode: tb-rl;
    margin-left: 24px;
    margin-bottom: 0.65rem;
    cursor: pointer;  
    transition: color 0.3s;
}

.sidebarNavEmail:hover {
    color: rgba(0, 0, 0, 0.697);
}

.sidebarNavIcon {
    cursor: pointer;
    margin-bottom: 0.5rem;
    transition: font-size 0.3s, color 0.3s;
}

.sidebarNavIcon:hover {
    font-size: 130%;
    color:rgb(0, 0, 0);
}

.pageContainer {
    display: flex;
    height: auto;
    max-width: 100%;
    flex-direction: column;
}

.sidebarNavFooter {
    height: 150px;
    margin-left: 50%;
    border-left: 2.75px rgba(0, 0, 0, 0.472) solid;
}